.card{
    width: 100%;
    height: 72px;
    background: #262626;
    display: flex;
    align-items: center;
}
.card .block{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}
.card div .lixeira{
    width: 24px;
    height: 24px;
    background-color: unset;
    border: none;
}
.card div p{
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    color: #F2F2F2;
}
.check{
    min-width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}
.check svg{
width: 100%;
height: 100%;
color:  slateblue;
}
.check div{
width: 100%;
height: 100%;
border: 2px solid cornflowerblue;
border-radius: 50%;
}
.completed{
color: gray;
text-decoration: line-through;
}